swagger: "2.0"
info:
  description: "The agent server for e-mail interface of LODQA."
  version: "1.0.0"
  title: "LODQA e-mail agent server"
host: "e-mail.lodqa.org"
tags:
- name: "query"
  description: "Reigster queries"
schemes:
- "http"
paths:
  /queries:
    post:
      tags:
      - "query"
      summary: "Reigster a new query"
      description: "Register a new query to search in LODQA"
      parameters:
      - in: "body"
        name: "body"
        description: "A new Query to register"
        required: true
        schema:
          $ref: "#/definitions/Query"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/RegisterdQuery"
        400:
          description: "Bad request"
  /events:
    post:
      tags:
      - "query"
      summary: "Callback API for LDOQA BS"
      description: "Rececve notifications about progerss of the query from LODQA BS"
      parameters:
      - in: "body"
        name: "body"
        description: "An event of query progression"
        required: true
        schema:
          $ref: "#/definitions/Event"
      responses:
          204:
            description: "OK"
definitions:
  Query:
    type: "object"
    properties:
      query:
        type: "string"
        example: "Which genes are associated with Endothelin receptor type B?"
      reply_to:
        type: "string"
        example: "e.mail.address@example.com"
  RegisterdQuery:
    type: "object"
    properties:
      query:
        type: "string"
        example: "Which genes are associated with Endothelin receptor type B?"
      query_id:
        type: "string"
        example: "1469caf6-efeb-4fb1-93b0-103ae91d4741"
  Event:
    type: "object"
    properties:
      event:
        type: "string"
        example: "start_search"
      query:
        type: "string"
        example: "Which genes are associated with Endothelin receptor type B?"
      query_id:
        type: "string"
        example: "1469caf6-efeb-4fb1-93b0-103ae91d4741"
      start_at:
        type: "string"
        format: "date-time"
        description: "date in UTC when the query starts"
      finish_at:
        type: "string"
        format: "date-time"
        description: "date in UTC when the query finished"
      elapsed_time:
        type: "number"
        description: "elapsed time to search the query"
      answers:
        type: "array"
        items:
          $ref: "#/definitions/Answer"
  Answer:
    type: "object"
    properties:
      uri:
        type: "string"
        example: "http://bio2rdf.org/omim:131243"
      label:
        type: "string"
        example: "ENDOTHELIN RECEPTOR, TYPE A; EDNRA [omim:131243]"


externalDocs:
  description: "LODQA"
  url: "http://lodqa.org/"
